* {
    font-family: 'Nunito', sans-serif;
}

/********** Navbar Start **********/
#navbar {
    display: flex;
    justify-content: space-between;
}

#navbar div {
    font-weight: bold;
    font-size: 1.2em;
}

#navbarItem-3 {
    text-decoration: underline;
    cursor: pointer;
}

/********** Navbar End **********/